.homePageContainer {
  padding: 0 1rem;
  height: calc(100vh - 6.5rem);
  overflow-y: scroll;

  h2 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
}

.latestEpisodes {
  ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}

.allEpisodes {
  width: 100%;

  th {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid var(--gray-100);
  }

  th {
    color: var(--gray-200);
    text-transform: uppercase;
    font: 500 0.75rem Lexed, sans-serif;
    text-align: left;
  }
}
